<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/demo.css" %}">
    <title></title>
  </head>
  <body>
    <div class="container" align='center'>
      <div class="jumbotron">
        <h1>welcome to saiyamjobs</h1>
        <p>continuous job updates for every hour</p>

        <a class="btn btn-primary btn-lg" href="/hydjobs" role="button">Hyderabad jobs</a> &nbsp&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="/chennaijobs" role="button">chennai jobs</a> &nbsp&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="/blorejobs" role="button">blore jobs jobs</a> &nbsp&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="/punejobs" role="button">pune jobs</a>

      </div>

    </div>

  </body>
</html>
